extends layout

block body
  .container(ng-controller='AppCtrl')
    .row-fluid
      .span10
        h3 Повідомлення
        .well.message-spot
          p(ng-repeat='message in messages',
            ng-class='message.me',
            class='') {{message.user}}: {{message.text}}

        .navbar.navbar-inverse.navbar-fixed-bottom.bar-submit-message
          .navbar-inner
            .container
              form(ng-submit='sendMessage()',class='well form-search form-send-message')
                input(ng-model='message',class='span10 input-message',id='mesbtn', placeholder='Повідомлення')
                input(type='submit', value='Відправити', class='btn btn-success', style='margin-left: 10px;margin-top: 0')
                    
      .span2
        h3 Користувачі
        .well
          ul.nav.nav-list
            li(ng-repeat='user in users') 
              a(ng-click="mention(user)") {{user}}

    #changeNameModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-body
          h3 Змінити нік
          p Зараз ваш нік : {{name}}
          form(ng-submit='changeName()')
            input(ng-model='newName')
            input(type='submit', value='Змінити', class='btn btn-success',style='margin-left: 10px;')
            a(data-dismiss='modal',class='btn btn-danger',style='margin-left: 10px') Закрити

    #infoModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='infoModal', aria-hidden='true')
        .modal-body
          h3 Чат

