!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Чат
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body(ng-init="loadScopes()")
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='./index.html') Чат
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='./index.html') Головна
            ul.nav.pull-right
              li
                a(data-toggle='modal', href='#changeNameModal') Змінити ім'я
    block body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='js/lib/bootstrap.min.js')
    script(src='js/lib/angular/angular.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')    